<html>
    <head>

    </head>
    <body>
        <h1>Welcome to the CS Quiz!</h1>
        <form action="/" method="POST">
            {% for question in questions %}
                <div>
                    <p>{{question.text}}</p>
                    {% for answer in question.scramble_answers() %}
                        <label for="{{question.id}}">{{answer.text}}</label>
                        <input type="radio" id="{{answer.text}}" name="{{question.id}}" value="{{answer.correct}}">
                    {% endfor %}
                </div>
            {% endfor %}
        </form>
    </body>
</html>